

h1 {
  font-size: 40px;
  font-family: Arial
}
h2 {
  font-size: 25px;
  font-family: Arial
}
h3 {
  font-family: Arial
}
p {
  font-size: 14px;
  font-family: Arial
}
<<<<<<< HEAD


th, td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
  font-family: Arial
 }
 tr:nth-child(odd) {background-color: #f2f2f2;}
=======
div{
  background-color: darkcyan;
  text-align: right;
}
>>>>>>> c914e92e8c7b6ca768a3b1ceb64afa912dc3a42e
